.label {
  font-size: 1rem;
  color: var(--dark);

  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    color: var(--dark);
    font-size: 0.75rem;
  }
}

.textarea {
  min-height: 8rem;
  background: var(--light);
  outline: none;
  color: var(--dark);
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 1rem;
  border-radius: var(--border-radius-medium);
  border: 0;

  &:focus {
    //box-shadow: 0 0 3px var(--dark);
  }

  &.error {
    border: 1px solid var(--color-red);
    background: var(--light);
  }

  &::placeholder {
    font-style: italic;
    font-weight: 300;
    line-height: 30px;
    color: #6b6b6b;
  }
}

.errorMessage {
  color: var(--color-red);

  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid var(--light-4);
  border-radius: var(--border-radius-medium);

  &:focus-within {
    border-color: var(--dark);
    box-shadow: 0 0 3px var(--dark);
  }
}
