# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.next
.turbo
out
.vercel

# Cache
.cache
*.tsbuildinfo
.eslintcache

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea

# Testing
coverage
.nyc_output

# Storybook
storybook-static

# Prisma
prisma/migrations/migration_lock.toml

# Temp
tmp
temp
