.content,
.subContent {
  min-width: 220px;
  background-color: var(--light);
  border-radius: 6px;
  padding: 5px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.content[data-side='top'],
.subContent[data-side='top'] {
  animation-name: slideDownAndFade;
}
.content[data-side='right'],
.subContent[data-side='right'] {
  animation-name: slideLeftAndFade;
}
.content[data-side='bottom'],
.subContent[data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.content[data-side='left'],
.subContent[data-side='left'] {
  animation-name: slideRightAndFade;
}

.item,
.checkboxItem,
.radioItem,
.subTrigger {
  cursor: pointer;
  font-size: 13px;
  line-height: 1;
  color: var(--dark);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 0.5rem 1rem;
  position: relative;
  padding-left: 25px;
  user-select: none;
  outline: none;
}
.subTrigger[data-state='open'] {
  background-color: var(--violet-4);
  color: var(--dark);
}

.item[data-disabled],
.checkboxItem[data-disabled],
.radioItem[data-disabled],
.subTrigger[data-disabled] {
  color: var(--dark-4);
  pointer-events: none;
}

.item[data-highlighted],
.checkboxItem[data-highlighted],
.radioItem[data-highlighted],
.subTrigger[data-highlighted] {
  background-color: var(--violet-9);
  color: var(--dark);
}

.label {
  padding-left: 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--dark);
}

.separator {
  height: 1px;
  background-color: var(--light-4);
  margin: 5px;
}

.itemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  fill: var(--light);
}

.RightSlot {
  margin-left: auto;
  padding-left: 20px;
  color: var(--mauve-11);
}

[data-highlighted] > .RightSlot {
  color: var(--dark-6);
}

[data-disabled] .RightSlot {
  color: var(--mauve-8);
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
