.tabs {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  .tab {
    font-family: inherit;
    padding: 0 1.25rem;
    height: 3rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 1;
    user-select: none;
    border: 0;
    border-radius: var(--border-radius-medium);
    max-width: 12rem;

    background-color: var(--light-4);

    &[data-orientation='vertical'] {
      border-radius: var(--border-radius-medium);
    }
  }
}

.hasAnimation {
  .tab {
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    background-size: 400% 100%;
    animation-name: animation;
    background-image: linear-gradient(
      135deg,
      var(--light-4),
      var(--light-4),
      var(--light-4),
      var(--light-4),
      var(--light-4),
      var(--light-4),
      var(--light-6),
      var(--light-4),
      var(--light-4),
      var(--light-4),
      var(--light-4),
      var(--light-4),
      var(--light-4)
    );
  }
}

@keyframes animation {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
