.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .progressBar {
    width: 20rem;
    height: 0.5rem;
    border-radius: 6.405px;
    background: var(--light-4);
    position: relative;
    overflow: hidden;

    .progress {
      position: absolute;
      height: 0.5rem;

      border-radius: 6.405px;
      background: var(--dark);
      max-width: 20rem;

      transition: all 0.3s ease;
      width: 100%;
      left: -100%;
      //transition: transform linear 0.5s;
    }
  }
}
