.root {
  border: none;
  width: 3rem;
  height: 1.5rem;
  background-color: var(--dark);
  border-radius: 2rem;
  position: relative;
  cursor: pointer;

  &[data-state='checked'] {
    background-color: var(--main-color);
  }

  .thumb {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--light);
    border-radius: 2rem;
    transition: transform 100ms;
    transform: translateX(2px);
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;

    &[data-state='checked'] {
      transform: translateX(1.625rem);

      svg {
        color: var(--main-color);
      }
    }
  }

  &.primary {
    background-color: var(--dark-4);
    transition: background-color linear 0.3s;

    &[data-state='checked'] {
      background-color: var(--main-color);
    }

    .thumb {
      background-color: #ffffff;
      box-shadow: none;
    }
  }
}

.hasShadow {
  box-shadow: 0 2px 10px var(--dark-2);

  &:focus {
    box-shadow: 0 0 0 2px var(--dark);
  }

  .thumb {
    box-shadow: 0 2px 2px var(--dark-2);
  }

  &.primary {
    &[data-state='checked'] {
      box-shadow: 0 2px 10px var(--main-color-light-2);
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* The switch - the box around the slider /
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/ Hide default HTML checkbox /
.switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

/ The slider /
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

/ Slider before /
.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

/ Slider when checked /
.switch input[type="checkbox"]:checked + .slider {
  background-color: #2196F3;
}

.switch input[type="checkbox"]:checked + .slider:before {
  transform: translateX(26px);
}

/ Slider when focused /
.switch input[type="checkbox"]:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

/ Rounded sliders */
.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}
