.wrapper {
  // background-color: var(--light);
  // box-shadow:
  //   0 0 transparent,
  //   0 0 transparent,
  //   0px 5px 15px rgba(54, 107, 255, 0.05);
  // border-radius: var(--border-radius-large);
  // border: 1px solid #f9f9f9;
  background-color: transparent;
}

.body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // gap: 1rem;
  padding: 2rem;

  .icon {
    margin-bottom: 2rem;

    svg {
      width: 4rem;
      height: 4rem;
    }
  }

  .title {
    margin-bottom: 1rem;
  }

  .subTitle {
    margin-bottom: 1rem;
  }
}
