.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .row {
    background-color: var(--light-4);
    width: 100%;
    height: 0.75rem;
    border-radius: var(--border-radius-small);
  }
}

.hasAnimation {
  .row {
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    background-size: 400% 100%;
    animation-name: animation;
    background-image: linear-gradient(
      135deg,
      var(--light-4),
      var(--light-4),
      var(--light-4),
      var(--light-4),
      var(--light-4),
      var(--light-4),
      var(--light-6),
      var(--light-4),
      var(--light-4),
      var(--light-4),
      var(--light-4),
      var(--light-4),
      var(--light-4)
    );
  }
}

@keyframes animation {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
