.progressBar {
  width: 20rem;
  height: 0.5rem;
  border-radius: 6.405px;
  background: var(--light-4);
  position: relative;
  overflow: hidden;

  .progress {
    position: absolute;
    height: 0.5rem;

    border-radius: 6.405px;
    background: var(--dark);
    max-width: 20rem;

    transition: all 0.3s ease;
    width: 100%;
    left: -100%;
    //transition: transform linear 0.5s;

    &.isIndeterminate {
      animation: 2s ease 0s infinite normal none running animation;
    }
  }
}

@keyframes animation {
  0% {
    left: -80%;
    width: 80%;
  }

  100% {
    left: 110%;
    width: 10%;
  }
}

.progressBarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  &.success {
    .progressBar {
      .progress {
        background-color: var(--color-green);
      }
    }
  }
}
