.radio {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.item {
  background-color: var(--light);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  border: 1px solid var(--light-4);

  &:hover {
    background-color: var(--main-color-light-6);
  }
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.indicator::after {
  content: '';
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--main-color-dark-4);
}

.label {
  color: var(--dark);
  font-size: 1rem;
  line-height: 1;
}
