.wrapper {
  position: relative;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding: 0.125rem 0.375rem;
  background-color: var(--light-7);
  border-radius: var(--border-radius-medium);
  color: var(--dark);
  width: max-content;

  &.canClick {
    cursor: pointer;
    &:hover {
      background-color: var(--light-4);
    }
  }

  &.withUrl {
    cursor: pointer;

    .body {
      color: inherit;
    }

    &:hover {
      background-color: var(--light-4);

      .body {
        text-decoration: underline;
      }
    }
  }
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
