.wrapper {
  background-color: var(--light);
  box-shadow: 0px 4px 24.9px rgba(0, 109, 189, 0.1);
  border-radius: var(--border-radius-large);
  border: 1px solid var(--light-4);
}

.header {
  padding: 1rem;
  border-bottom: 1px solid var(--dark);
}

.body {
  padding: 1rem;
}
