.pagination {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .item {
    border-radius: var(--border-radius-md);
    background: transparent;
    border: 0;
    height: 2rem;
    min-width: 2rem;
    line-height: 2rem;

    &:hover {
      cursor: pointer;
      background-color: var(--light-4);
    }

    &.active {
      background-color: var(--main-color);
      color: var(--dark);
    }
  }

  .next,
  .back {
    padding: 0.5rem;
    line-height: 0;
  }
}
