.inputUpload {
  display: none;
}

.preview {
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.active {
  border-color: var(--main-color) !important;
}

.wrapper {
  background: transparent;
  border-radius: 0.5rem;
  border: 1px dashed var(--dark-3);
  border-image: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  position: relative;
  cursor: pointer;
  padding: 1rem 2rem;
  width: 100%;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    z-index: 2;

    .titleWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 1rem;
      z-index: 2;
    }

    svg {
      color: var(--dark);
      stroke: var(--dark);
    }

    .title {
      color: var(--dark-4);
      font-size: 1rem;
      line-height: 1.625rem !important;
    }

    .description {
      font-size: 1rem;
      opacity: 0.5;
      color: var(--dark);
    }
  }
}

.label {
  font-size: 1rem;
  color: var(--dark);

  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .errorMessage {
    color: var(--main-color);

    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .title {
    color: var(--dark);
    font-size: 1rem;
  }
}

.hightlight {
  font-weight: 700;
  color: var(--main-color);
}
