.table {
  margin: 0;
  padding: 0;
  background-color: var(--light);
  border: 1px solid transparent;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;

  tr {
    text-align: left;
    cursor: pointer;
    transition: all 0.5s ease-out;
  }

  tbody {
    tr {
      &:hover {
        background-color: var(--light-4);
      }
    }
  }

  th,
  td {
    padding: 1rem;
    vertical-align: middle;
    color: var(--dark);
  }
}

.wrapper {
  margin: auto;
}
