.scrollBox {
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
}

.scrollBox::before {
  top: 0;
  content: '';
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  display: block;
  pointer-events: none;
  height: 0rem;
  width: 100%;
  z-index: 32;
}

.scrollBox::after {
  bottom: 0;
  content: '';
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  display: block;
  pointer-events: none;
  height: 0rem;
  width: 100%;
  z-index: 32;
}

.hasBottomShadow {
  &::after {
    box-shadow: 0 1.25rem 1.25rem 1.25rem rgba(0, 0, 0, 0.15);
  }
}

.hasTopShadow {
  &::before {
    box-shadow: 0 calc(1.25rem * -1) 1.25rem 1.25rem rgba(0, 0, 0, 0.15);
  }
}
