.iframe-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* Aspect ratio (16:9) */
  overflow: hidden;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.ProseMirror {
  height: 100%;
  flex: 1;
}

.iframe-wrapper.ProseMirror-selectednode {
  outline: 3px solid var(--dark);
  height: 100%;
  outline: 0;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.tiptap {
  padding: 1.5rem;
  height: 100%;
}

.tiptap:focus-visible {
  outline: none;
}
