.wrapper {
  width: 100%;
  position: relative;
}

.inputWrapper {
  height: 3rem;
  background-color: var(--light);
  outline: none;
  color: var(--dark);
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 1rem;
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--light-4);
  display: flex;
  align-items: center;
  padding: 1rem;

  &.error {
    border: 1px solid var(--color-red);
  }

  &::placeholder {
    font-style: italic;
    font-weight: 300;
    line-height: 30px;
    color: var(--dark-4);
  }

  .tags {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: max-content;
  }

  .input {
    //@include mobileBody1;
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
    padding-left: 1rem;
    color: var(--dark);
    height: 100%;

    @media screen and (min-width: bp.$bp-md) {
      // @include body1;
    }

    &::placeholder {
      // @include mobileBody1;
      color: var(--dark-6);

      @media screen and (min-width: bp.$bp-md) {
        //@include body1;
      }
    }
  }
}
