.icon {
  // img {
  //   position: relative;
  //   display: block;
  //   width: 100%;
  //   max-width: 100%;
  //   max-height: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;

  // }
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    // fill: currentColor;
  }

  &.info {
    svg {
      color: var(--color-blue);
    }
  }

  &.danger {
    svg {
      color: var(--color-red);
    }
  }
}
