$spinner-sm-size: 2rem;
$spinner-sm-cirle-size: 1.5rem;
$spinner-border-size: 0.125rem;

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    width: $spinner-sm-size;
    height: $spinner-sm-size;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle {
    width: $spinner-sm-cirle-size;
    height: $spinner-sm-cirle-size;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle:before,
  .circle:after {
    border-radius: 50%;
    content: ' ';
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .circle::before {
    animation: rotate1 2s linear infinite;
    border-top: $spinner-border-size solid var(--dark);
  }

  .circle:after {
    height: 80%;
    width: 80%;
    border-top: $spinner-border-size solid var(--main-color);
    animation: rotate1 2s linear reverse infinite;
  }

  &.sm {
  }

  &.lg {
    .wrapper {
      width: $spinner-sm-size * 2;
      height: $spinner-sm-size * 2;
    }

    .circle {
      width: $spinner-sm-cirle-size * 2;
      height: $spinner-sm-cirle-size * 2;
    }

    .circle::before {
      border-top: $spinner-border-size * 2 solid var(--dark);
    }

    .circle:after {
      border-top: $spinner-border-size * 2 solid var(--main-color);
    }
  }

  &.xxl {
    .wrapper {
      width: $spinner-sm-size * 4;
      height: $spinner-sm-size * 4;
    }

    .circle {
      width: $spinner-sm-cirle-size * 4;
      height: $spinner-sm-cirle-size * 4;
    }

    .circle::before {
      border-top: $spinner-border-size * 4 solid var(--dark);
    }

    .circle:after {
      border-top: $spinner-border-size * 4 solid var(--main-color);
    }
  }
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
